/* Variables */
:root {

  /* General */
  --border-width: 1px;
  --base-margin: 0.5rem;
  --base-padding: 0.5rem;
  --line-height: 1.5;
  
  /* Sidebar */
  --base-gap: 2rem;
  --content-size: 400px;
  --sidebar-size: 200px;

  /* Colors */
  --c-white: hsl(0, 0%, 100%);
  --c-black: hsl(0, 0%, 0%);

  /* Fonts */
  --primary-font-size: 0.9rem;
  --primary-font-family: system-ui, sans-serif;
  --bold: 700;

}

/* Resets */
*, *::before, *::after {
  box-sizing: border-box;
}

body {
  margin: 0;
}

select, input, input[type="checkbox"] {
  margin: 0;
  padding: calc(var(--base-padding) / 2);
  border-width: var(--border-width);
}

img, picture, svg, video {
  display: block;
  max-width: 100%;
}

/* General */
html, body {
  height: 100%;
  width: 100%;
}

body {
  background: var(--c-white);
  font-family: var(--primary-font-family);
  font-size: var(--primary-font-size);
  line-height: calc(var(--primary-font-size) * var(--line-height));
  color: var(--c-black);
}

a, a:link, a:visited, a:hover, a:active {
  color: var(--c-black);
  text-decoration: none;
}

/* Header */
header > h1 {
  padding-inline-start: calc(var(--base-padding) * 2);
}

/* Main */
.main {
  padding: calc(var(--base-padding) * 2);
  display: flex;
  flex-wrap: wrap;
  align-items: start;
  gap: var(--base-gap);
}

/* Content */
.content {
  flex-basis: var(--content-size);
  flex-grow: 9999;
}

.content .author {
  display: inline-block;
  padding-inline-start: calc(var(--base-padding) * 2);
  font-size: var(--primary-font-size);
  font-weight: normal;
}

.content > img {
  display: inline-block;
  max-width: 80px;
}

.song-text {
  column-count: 2;
}

.chord {
  font-weight: var(--bold);
  vertical-align: super;
  padding-inline: 0.125rem;
}

.song-section {
  break-inside: avoid;
}

.song-line {
  margin-block-start: 0px;
  margin-block-end: var(--base-margin);
}

.song-line:first-child {
  margin-block-start: var(--base-gap);
}

.song-line:last-child {
  margin-block-end: 0px;
}

/* Sidebar */
.sidebar {
  flex-basis: var(--sidebar-size);
  flex-grow: 1;
}

.sidebar > input {
  width: 100%;
}

.sidebar > ul {
  list-style: none;
  padding-inline-start: 0px;
}

.sidebar > ul > li {
  padding-block-end: var(--base-padding);
  cursor: pointer;
}

.sidebar > ul > li:last-child {
  padding-block-end: 0px;
}

/* Print styling */
@media print {
  h1 {
    display: none;
  }

  .sidebar {
    display: none
  }
}